<ion-view view-title="Détail annonce">
  <ion-content>
    <h1>{{annonce.titre}} </h1>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide  ng-if="annonce.photo.length > 0" ng-repeat="photo in annonce.photo track by $index">
        <div class="item item-image" style="max-height: 250px;">
          <img ng-src="{{photo}}" src="img/default.png">
        </div>
      </ion-slide>
      <ion-slide ng-if="annonce.photo.length < 1">
        <div class="item item-image" style="max-height: 250px;"> 
          <img src="img/default.png">
        </div>
      </ion-slide>
    </ion-slide-box>

    <h4>Description : </h4>
    {{annonce.description}}
  </ion-content>
</ion-view>
