<ion-view view-title="Annonces">
  <ion-content>
    <div class="list">
      <a ng-repeat="annonce in annonces" href="#/app/annonce/{{annonce.idannonces}}" class="item item-thumbnail-left">
        <img ng-src="{{annonce.photo[0]}}" src="img/default.png"">
        <h2>{{annonce.titre}}</h2>
        <p>{{annonce.description}}</p>
        <p>{{annonce.logement.lieu}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
