<ion-view view-title="Inscription">
  <ion-content>
      <form ng-submit="enregistrer()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">nom</span>
          <input type="text" ng-model="user.nom">
        </label>
        <label class="item item-input">
          <span class="input-label">prenom</span>
          <input type="text" ng-model="user.prenom">
        </label>
        <label class="item item-input">
          <span class="input-label">email</span>
          <input type="text" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Mot de passe</span>
          <input type="password" ng-model="user.mdp">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirmer mot de passe</span>
          <input type="password" ng-model="user.confirmMdp">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Enregistrer</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-view>
