<ion-view view-title="Login">
  <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="auth.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="auth.mdp">
        </label>
        <span style="color:red;" ng-bind="error"></span>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="login()">Log in</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
