
<ion-view view-title="mon Compte">
    <ion-content>
        <ion-nav-view name="management-tab"></ion-nav-view>
        <div class="tabs tabs-icon-top">
            <a class="tab-item" href="#/app/management/monCompte">
                <i class="icon ion-person"></i>
                Mon compte
            </a>
            <a class="tab-item">
                <i class="icon ion-folder"></i>
                Mes annonces
            </a>
        </div>
    </ion-view >
</ion-content>