<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Cocooning</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-show="!isLogin()" menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item ng-show="!isLogin()" menu-close href="#/app/inscription">
          Inscription
        </ion-item>
        <ion-item menu-close href="#/app/annonce">
          Annonce
        </ion-item>
        <ion-item ng-show="isLogin()" menu-close href="#/app/management">
          Mon compte
        </ion-item>
        <ion-item ng-show="isLogin()" menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
